.column {
    float: left;
    padding: 10px;

    height: 100%;
     /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 20%;
    background-color: #aaa;
  }
  
  .middle {
    
    width: 75%;
    background-color: #bbb;
  }
  


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


  .products {
  width: 80%;
  /* margin: 50px auto; */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
}

.card {
  width: 30%;
  background: #fff;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-title{
  /* position: absolute; */
  display: flex;
  align-items: flex-start;
  z-index: 10;
  font-weight: 900;
  color: gray;
  margin-left: 7px;
  margin-bottom: 0.5rem;
}

.card-header {
  /* position: relative; */
  text-align: center;
  padding: 15px 15px;
  z-index: 1;
}

.card-header img {
  width: 100%;
  z-index: 2;
}

.card-body {
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 600; 
      display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}


 
.card-body .btn {
  display: block;
  background-color: gray;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

@media only screen and (min-width: 200px) and (max-width: 400px)  {
  .container {
    width: 100%;
  }

  .card {
    width: 80%;
  }

}

/* @media only screen and (min-width: 401px) and (max-width: 767px)  {
  .card {
    width: 40%;
  }
} */

@media only screen and (min-width: 401px) and (max-width: 900px)  {
  .card {
    width: 45%;
    margin-right: 15px;

  }

}

@media only screen and (min-width: 200px) and (max-width: 767px)  {

  .row{
      justify-content: center;
  }
  .products{
      width: 100%;
  }

}

/* search button */

.searchbar{
    display: flex;
    padding: 4rem;
    justify-content: center;
    text-align: center;
  }
  
  .searchbutton{
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(151, 150, 150);
    height:5vh;
    width:4vw;
  }
  
  .input {
    border: none;
    border-bottom: 2px solid #CCC;
    width: 30vw;
    height:5vh;
  
  }
  
  
  .space {
    width: 1rem;
    height: auto;
    display: inline-block;
  }
  
  ::placeholder {
    color: gray;
    opacity: 0.5; 
  }


/* filter attributes */

.filters {
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    margin-right: 4rem;
  }
  
  .title{
    font-weight: 500;
    color: rgb(48, 48, 48);
  }
  
  .toggle{
    z-index: 100;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 1rem;
    margin-top: 1rem;
    background-color: white;
    display: none;
    /* transition: all 0.5s ease; */
    position: absolute;
  
  
  }
  .active{
    display: block;
    right: 0.2rem;
    
    /* transform: translateY(100px); */
  }
  
  .coloroption {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  
  .coloroption label {
    padding-bottom: 0.5rem;
  }
  
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    background-color: gray;
    margin-right: 0.5rem;
  }
  
  input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: white;
    display: none;
    font-size: 13px;
    align-items: center;
  }
  
  input[type="checkbox"]:checked:after {
    display: block;
    height: 1rem;
    width: 1rem;
  }
  